<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mess Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <style>
      html,
      body {
        overflow-x: hidden;
        overflow-y: auto;
        font-family: "Roboto Mono", monospace;
        background-color: rgb(236 253 245);
      }
      p {
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h2 class="my-6 text-center text-[28px] font-semibold">Mess Tracker</h2>
    <% if flash[:notice] %>
      <div class="px-2">
        <p class="text-xl text-green-900"><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <div class="px-2">
          <p class="text-xl text-red-900"><%= error %></p>
        </div>
      <% end %>
    <% end %>
    <div class="w-full p-5 border-2 border-solid rounded-lg">
      <form action="/meal_log" method="post" class="w-full">
        <p class="mb-3">Choose user:</p>
        <select class="w-full h-[40px] font-semibold px-4" name="user_id" id="user_id">
          <% @users.each do |user| %>
            <option value="<%= user.id %>"><%= user.name %></option>
          <% end %>
        </select>
        <div class="w-full">
          <p class="mt-8 mb-3">Choose your meals:</p>
          <label class="font-semibold mr-2">
            <input type="hidden" name="breakfast" value="false">
            <input type="checkbox" name="breakfast" value="true" class="mr-2 size-4" />
            Breakfast
          </label>
          <label class="font-semibold mr-2">
            <input type="hidden" name="lunch" value="false">
            <input type="checkbox" name="lunch" value="true" class="mr-2 size-4" />
            Lunch
          </label>
          <label class="font-semibold mr-2">
            <input type="hidden" name="dinner" value="false">
            <input type="checkbox" name="dinner" value="true" class="mr-2 size-4" />
            Dinner
          </label>
        </div>
        <p class="mt-8 mb-3">Choose meal date:</p>
        <input type="date" name="meal_date" id="meal_date" class="w-full h-[40px]" />
      </label>
      <br>
      <div class="border border-solid mt-8 mb-4 font-semibold rounded-lg text-center bg-emerald-300 py-2 hover:border-black">
        <button type="submit" class="w-full">Submit</button>
      </div>
    </form>
  </div>
  <div class="w-full mt-6 p-5 border-2 border-solid rounded-lg bg-emerald-100	">
    <p class="text-xl text-center font-medium underline">See your meal logs</p>
    <form action="/meal_logs" method="get">
      <p class="mt-8 mb-4">Select user</p>
      <select class="w-full h-[40px] font-semibold px-4" name="user_id" id="user_id">
        <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
        <% end %>
      </select>
      <div class="border border-solid mt-8 mb-4 font-semibold rounded-lg text-center bg-emerald-300 py-2 hover:border-black">
        <button type="submit" class="w-full">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>
